	<!-- http://www-cs-students.stanford.edu/~tjw/jsbn/ -->
	<script type="text/javascript" src="/js/dist/jsbn.js"></script>
	<script type="text/javascript" src="/js/dist/jsbn2.js"></script>
	<!-- http://bitwiseshiftleft.github.io/sjcl/sjcl.js -->
	<script type="text/javascript" src="/js/dist/sjcl.js"></script>
	<!-- http://momentjs.com/ -->
	<script type="text/javascript" src="/js/dist/moment.min.js"></script>
	<!-- https://github.com/aws/amazon-cognito-identity-js -->
	<script type="text/javascript" src="/js/dist/aws-cognito-sdk.min.js"></script>
	<script type="text/javascript" src="/js/dist/amazon-cognito-identity.min.js"></script>
	<!-- https://github.com/aws/aws-sdk-js/releases 2.4.0 -->
	<script type="text/javascript" src="/js/dist/aws-sdk.js"></script>
	<!-- cognito settings -->
	<script type="text/javascript" src="/js/cognito_conf.js"></script>