#!/usr/bin/env bash
#
############################################################################
# Deploys CodeBuild and CodePipeline CloudFormation
############################################################################
#
#
############################################
# Env Vars - COMPLETE MISSING VALUE BELOW
############################################
#
PROJECT_REGION=us-east-1
AWS_PROJECT_COMMAND="aws --region ${PROJECT_REGION}"

S3_PUBLIC_BUCKET_REGION=us-west-2
S3_PUBLIC_BUCKET=
S3_PUBLIC_BUCKET_URL=https://s3-${S3_PUBLIC_BUCKET_REGION}.amazonaws.com/${S3_PUBLIC_BUCKET}

S3_CLOUDFORMATION=${S3_PUBLIC_BUCKET}
S3_CLOUDFORMATION_URL=${S3_PUBLIC_BUCKET_URL}

CODEPIPELINES3BUCKET=
S3STAGING=
S3PRODUCTION=

GITHUB_REPO_URL=
GITHUBOWNER=
GITHUBREPO=
GITHUBBRANCH=
HUGOSITEBUILDCONTAINER=

#
######################################
# CodeBuild and CodePipeline
######################################
#
#CODEBUILD_REGION=${PROJECT_REGION}
#
## publish to s3
aws --region ${S3_PUBLIC_BUCKET_REGION} s3 cp --recursive --acl public-read codebuild s3://${S3_CLOUDFORMATION}/codebuild
aws --region ${S3_PUBLIC_BUCKET_REGION} s3 cp --recursive --acl public-read codepipeline s3://${S3_CLOUDFORMATION}/codepipeline

# run cloudformation updates

# set configuration values
CODEBUILD_CLOUDFORMATION_NAME=codebuild-codepipeline-main
CLOUDFORMATION_PARAMETERS="ParameterKey=CloudformationS3BucketUrl,ParameterValue=${S3_CLOUDFORMATION_URL} \
ParameterKey=CodeBuildGitHubUrl,ParameterValue=${GITHUB_REPO_URL} \
ParameterKey=CodePipelineS3Bucket,ParameterValue=${CODEPIPELINES3BUCKET} \
ParameterKey=CodePipelineGitHubOwner,ParameterValue=${GITHUBOWNER} \
ParameterKey=CodePipelineGitHubRepo,ParameterValue=${GITHUBREPO} \
ParameterKey=CodePipelineGitHubBranch,ParameterValue=${GITHUBBRANCH} \
ParameterKey=CodeBuildS3StagingName,ParameterValue=${S3STAGING} \
ParameterKey=CodeBuildS3ProductionName,ParameterValue=${S3PRODUCTION} \
ParameterKey=CodeBuildHugoSiteBuildContainer,ParameterValue=${HUGOSITEBUILDCONTAINER}"
findStack=$(aws --region us-east-1 cloudformation list-stacks --stack-status-filter "CREATE_COMPLETE" "ROLLBACK_COMPLETE" "UPDATE_COMPLETE" "UPDATE_ROLLBACK_COMPLETE" --query "StackSummaries[0]")

# Create or update stack
if [[ "${findStack}" == "null" ]]; then
    ${AWS_PROJECT_COMMAND} cloudformation create-stack \
    --stack-name ${CODEBUILD_CLOUDFORMATION_NAME} \
    --template-url ${S3_CLOUDFORMATION_URL}/codebuild/main.yaml \
    --parameters ${CLOUDFORMATION_PARAMETERS} \
    --capabilities CAPABILITY_NAMED_IAM
else
    ${AWS_PROJECT_COMMAND} cloudformation update-stack \
    --stack-name ${CODEBUILD_CLOUDFORMATION_NAME} \
    --template-url ${S3_CLOUDFORMATION_URL}/codebuild/main.yaml \
    --parameters ${CLOUDFORMATION_PARAMETERS} \
    --capabilities CAPABILITY_NAMED_IAM
fi
