<article class="home_article">
  <a href="/{{ .Permalink }}">
    <div class="article_image" style="background-image: url({{ $.Site.Params.ImageCdnUrl }}{{ with .Params.image }}images/{{ . }}{{ else }}{{ $.Site.Params.DefaultImage }}{{ end }});">
      <div class="date">
        <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
      </div>
    </div>
    <div class="article_data">
      <h2 class="title">{{ .Title }}</h2>
      <div class="summary">{{ .Summary }}</div>
    </div>
  </a>
</article>